# crontab for user mirror

0 0,6,12,18 * * *  /home/mirror/mirror.sh ubuntu
20 0,6,12,18 * * *  /home/mirror/mirror.sh ubuntu-releases
40 0,6,12,18 * * *  /home/mirror/mirror.sh elpa

0 1,7,13,19 * * *  /home/mirror/mirror.sh manjaro
20 1,7,13,19 * * *  /home/mirror/mirror.sh manjaro-cd
40 1,7,13,19 * * *  /home/mirror/mirror.sh termux

0 2,8,14,20 * * *  /home/mirror/mirror.sh debian
20 2,8,14,20 * * *  /home/mirror/mirror.sh debian-cd
40 2,8,14,20 * * *  /home/mirror/mirror.sh gentoo

0 3,9,15,21 * * *  /home/mirror/mirror.sh raspberrypi
20 3,9,15,21 * * *  /home/mirror/mirror.sh raspbian

0 4,10,16,22 * * *  /home/mirror/mirror.sh centos
20 4,10,16,22 * * *  /home/mirror/mirror.sh epel
40 4,10,16,22 * * *  /home/mirror/mirror.sh kali-images

0 5,11,17,23 * * *  /home/mirror/mirror.sh archlinux
20 5,11,17,23 * * *  /home/mirror/mirror.sh archlinuxcn


0 4 * * *  cd /home/mirror/tmp; python3 /home/mirror/mirror_auto_cache.py > /tmp/mirror_auto_cache.log
