/* 设置字体 */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@font-face{
    font-family: 'MyriadPro';
    src: url('./font/MyriadPro-Regular.otf');
}
@font-face{
    font-family: 'MyriadPro';
    src: url('./font/MyriadPro-Bold.otf');
    font-weight: bold;
}
@font-face {
    font-family: "SFMono";
    src: url('../font/SFMono-Bold-1.otf');
    font-weight: bold;
}
@font-face {
    font-family: "SFMono";
    src: url('../font/SFMono-Medium-8.otf');
    font-weight: medium;
}
/*@font-face {
    font-family: "SFMono";
    src: url('../font/SFMono-Regular-10.otf');
}
@font-face {
    font-family: "SFMono";
    src: url('../font/SFMono-Light-5.otf');
    font-weight: light;
}*/

code {
    font-family: "SFMono", "Fira Code", Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
}

pre {
    font-family: "Fira Code", Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
    font-size: 110%;
    margin: 0px;
    width: 1200px;
    line-height: 150%;
    overflow:auto;
    border: 1px solid black; /* 添加黑色边框 */
    border-radius: 10px; /* 添加圆角 */
    background-color: rgba(128, 128, 128, 0.1); /* 设置灰色背景 */
    padding: 10px; /* 添加内边距，使内容与边框之间有一些间距 */
    white-space: pre-wrap; 
}

/* updated-mirror.css */
body {
    font-family: "MyriadPro", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0px 40px;
    background-color: #f5f5f5;
    color: #333;
}

.image-container {
    width: 20px;
    height: 15px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    padding: 20px 0;
}

h1 {
    color: #971943;
    margin-bottom: 20px;
    font-size: 36px;
}

h1, h2, h3 {
    color: #971943;
    //font-size: 20px;
    //line-height: 50px;
    //height: 50px;
    margin: 0;
    //padding: 20px 50px;
}

h4 {
    color: #971943;
    font-size: 18px;
}
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1em; /* Add padding here */
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f5f5f5;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/*tr:nth-child(even) {
    background-color: #f2f2f2;
}*/
.even {
    background-color: #f2f2f2;
}

tr:hover {
    /*background-color: #e0e0e0;*/
    background-color: #eb296a;
    transition: background-color 0.3s;
}

a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    text-decoration: underline;
    color: #0040ff;
}

#footer {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
    padding-top: 20px;
    border-top: 1px solid #ddd;
    clear: both;
}

#footer a {
    color: #555;
    margin: 0 10px;
    font-size: 0.9em;
}

span {
    margin-right: 20px;
}

#mirror-data, #mirror-usage, #mirror-links, #mirror-misc {
    margin-top: 20px;
    padding-bottom: 10px;
}

.hr {
    border-bottom: dashed #777 1px;
    width: 60%;
}

.hr hr {
    display: none;
}

p.answer {
    text-indent: 20px;
    margin-bottom: 30px;
}
#distro-table {
    width: 100%;
}
#copyright {
    color: #555;
    margin: 0px 10px;
    font-size: 0.8em;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}

/* Dark theme */
.dark-theme {
    background-color: #222;
    color: #fff;
}

.dark-theme table {
    background-color: #333;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.dark-theme th {
    background-color: #444;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.dark-theme a {
    color: #ce6a00;
    text-decoration: none;
    transition: color 0.3s;
}

.dark-theme a:hover {
    text-decoration: underline;
    color: #be2f00;
}

/*.dark-theme tr:nth-child(even) {
    background-color: #444;
}*/
.dark-theme .even {
    background-color: #444;
}

.dark-theme tr:hover {
    /*background-color: #555;*/
    background-color: #971943;
    transition: background-color 0.3s;
}

.dark-theme #footer a {
    color: #fff;
    margin: 0 10px;
    font-size: 0.9em;
}

/* .dark-theme a {
    color: #bb86fc;
} */

/* Highlight syncing rows */
.syncing-row {
    background-color: #2563e6;
    color: #fff;
}
