/* 设置字体 */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@font-face{
    font-family: 'MyriadPro';
    src: url('./font/MyriadPro-Regular.otf');
}
@font-face{
    font-family: 'MyriadPro';
    src: url('./font/MyriadPro-Bold.otf');
    font-weight: bold;
}
@font-face {
    font-family: "SFMono";
    src: url('../font/SFMono-Bold-1.otf');
    font-weight: bold;
}
@font-face {
    font-family: "SFMono";
    src: url('../font/SFMono-Medium-8.otf');
    font-weight: medium;
}

code {
    font-family: "SFMono", "Fira Code", Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
}

pre {
    font-family: "Fira Code", Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
    margin: 0px;
    width: 100%;
    line-height: 150%;
    overflow:auto;
    border: 1px solid black; /* 添加黑色边框 */
    border-radius: 10px; /* 添加圆角 */
    background-color: #F8F8FF;
    padding: 10px; /* 添加内边距，使内容与边框之间有一些间距 */
    white-space: pre-wrap; 
}

body {
    font-family: "MyriadPro", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0px 40px;
    background-color: #fff;
    color: #333;
}

.image-container {
    width: 20px;
    height: 15px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    padding: 20px 0;
}

h1 {
    color: #000;
    margin: 0;
    font-size: 32px;
}

h2 {
    color: #4A249D;
    margin: 0;
    font-size: 24px;
}

h4 {
    color: #971943;
    font-size: 18px;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 6px;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1em;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #F8F8FF;
    font-weight: bold;
}

tr:hover {
    background-color: #CAF4FF;
    transition: background-color 0.3s;
}

.even {
    background-color: #FBFBFF;
}

a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    text-decoration: underline;
    color: #0040ff;
}

#footer {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
    padding-top: 20px;
    border-top: 1px solid #ddd;
    clear: both;
}

#footer a {
    color: #555;
    margin: 0 10px;
    font-size: 0.9em;
}

span {
    margin-right: 20px;
}

#mirror-data, #mirror-usage, #mirror-links, #mirror-misc {
    margin-top: 20px;
    padding-bottom: 10px;
}

.hr {
    border-bottom: dashed #777 1px;
    width: 60%;
}

.hr hr {
    display: none;
}

p.answer {
    text-indent: 20px;
    margin-bottom: 30px;
}

#distro-table {
    width: 100%;
}

#copyright {
    color: #555;
    margin: 0px 10px;
    font-size: 0.8em;
}

.syncing-row {
    background-color: #FFFFF0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
    max-width: 100%;
}

.col-75 {
    box-sizing: border-box;
    flex: 0 0 75%;
    max-width: 75%;
    padding: 0px 10px;
}

.col-25 {
    box-sizing: border-box;
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0px 10px;
}

.nav {
    gap: 20px;
    list-style: none;
}

.nav-link {
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 18px;
    box-sizing: border-box;
    display: block;
}

.nav-link:hover {
    text-decoration: none;
}

.nav-link-selected {
    background-color: #007bff;
    color: white;
}

.nav-link-selected:hover {
    color: #F8F8FF;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}

/* Dark theme */
.dark-theme {
    background-color: #222;
    color: #fff;
}

.dark-theme h1 {
    color: #fff;
}

.dark-theme h2 {
    color: #CCBBFF;
}

.dark-theme h4 {
    color: #fff;
}

.dark-theme .syncing-row {
    background-color: #444488;
}

.dark-theme .nav-link-selected {
    background-color: #0077AA;
}

.dark-theme table {
    background-color: #333;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.dark-theme th {
    background-color: #444;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.dark-theme a {
    color: #ce6a00;
    text-decoration: none;
    transition: color 0.3s;
}

.dark-theme a:hover {
    text-decoration: none;
    color: #be2f00;
}

.dark-theme .even {
    background-color: #444;
}

.dark-theme tr:hover {
    background-color: #971943;
    transition: background-color 0.3s;
}

.dark-theme #footer a {
    color: #fff;
    margin: 0 10px;
    font-size: 0.9em;
}

.dark-theme pre {
    background-color: #444;
}

input {
        margin: 0 auto;
        font-size: 100%;
        vertical-align: middle;
        *overflow: visible;
        line-height: normal;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        font-weight: 300;
        line-height: 18px;
        color: #555;
        display: inline-block;
        height: 20px;
        padding: 4px 32px 4px 6px;
        margin-bottom: 9px;
        font-size: 14px;
        line-height: 20px;
        color: #555;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        width: 196px;
        background-color: #fff;
        border: 1px solid #ccc;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        -webkit-transition: border linear .2s,box-shadow linear .2s;
        -moz-transition: border linear .2s,box-shadow linear .2s;
        -o-transition: border linear .2s,box-shadow linear .2s;
        transition: border linear .2s,box-shadow linear .2s;
}
input:focus {
        outline: 0;
        border-color: rgba(0,0,0,0.8);
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(0,0,0,0.6);
        -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(0,0,0,0.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(0,0,0,0.6);
}
input::-moz-focus-inner {
        padding: 0;
        border: 0;
}

#search {
        color: #FFFFFF;
        background-color: #262A32;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
        margin-top: 20px;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        -webkit-appearance: textfield;
        -webkit-transition: all 300ms ease-in;
        -moz-transition: all 300ms ease-in;
        -ms-transition: all 300ms ease-in;
        -o-transition: all 300ms ease-in;
        transition: all 300ms ease-in;
}
